<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div class="footer" th:fragment="footer">
	<div class="container">
		<div class="w3ls_footer_grid">
			<div class="col-md-6 w3ls_footer_grid_left">
				<div class="w3ls_footer_grid_left1">
					<h2>Contact</h2>
					<h4 style="color: #FF8D1B">Enes Demirbaş</h4>
					<h4 style="color: #FF8D1B">enesdemirbas95@gmail.com</h4>
				</div>
			</div>
			<div class="col-md-6 w3ls_footer_grid_right">
				<a href="index.html"><h2>One<span>Movies</span></h2></a>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="col-md-5 w3ls_footer_grid1_left">
			<p>&copy; 2016 One Movies. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
		</div>
		<div class="clearfix"> </div>
	</div>

</div>
</body>
</html>
