<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div class="banner-bottom" th:fragment="slider(movies)">
	<div class="container">
		<div class="w3_agile_banner_bottom_grid">
			<div id="owl-demo" class="owl-carousel owl-theme">
				<div class="item" th:each="movie : ${movies}">
					<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
						<a th:href="@{'/movie/'+${movie.id}}" class="hvr-shutter-out-horizontal"><img th:src="@{'/movieImage/'+${movie.imageName}}" height="300px" width="200px" /></a>
						<div class="mid-1 agileits_w3layouts_mid_1_home">
							<div class="w3l-movie-text">
								<h6><a th:href="@{'/movie/'+${movie.id}}" th:text="${movie.name}">Bad Moms</a></h6>
							</div>
							<div>
								<p th:text="${#dates.format(movie.publishYear, 'dd-MMM-yyyy')}">2016</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
